.choose {

	&__inner {
		padding: 115px 0;

		@media (max-width: 992px) {
			padding: 50px 0;
		}

		@media (max-width: 576px) {
			padding: 30px 0;
		}
	}

	&__label {}

	&__tabs {}
}

.tabs {

	&__controls {
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media (max-width: 768px) {
			flex-wrap: wrap;
			// flex-direction: column;
		}
	}

	&__btn {
		flex: 1 1 auto;
		cursor: pointer;
		padding: 25px 10px;
		text-transform: uppercase;
		color: #333;
		font-size: 15px;
		@include font600;
		background-color: $grey;
		border: 1px solid transparent;
		border-radius: 2px;
		margin-right: 1px;
		transition: all 0.5s;

		&:last-child {
			margin-right: 0;
		}

		@media (min-width: 992px) {
			&:hover {
				color: #fff;
				background: linear-gradient(45deg, rgb(49, 170, 226) 0%, rgb(157, 53, 192) 100%);
			}
		}

		&.active {
			color: #fff;
			background: linear-gradient(45deg, rgb(49, 170, 226) 0%, rgb(157, 53, 192) 100%);
		}
		@media (max-width: 768px) {
			padding: 12px;
			margin-bottom: 5px;
			flex: 1 1 33%;
		}	
	}

	&__body {}

	&__content {
		padding-top: 50px;
		display: none;

		&:first-child {
			display: block;
		}

		&.active {
			display: block;
		}
	}
}

.tabs-content {

	&__row {
		display: flex;		
		align-items: center;
		@media (max-width: 992px) {				
			flex-wrap: wrap;
			justify-content: space-around;
		}	
	}

	&__column {
		&:first-child {
			flex: 1 1 auto;
		}

		&:last-child {
			flex: 0 0 340px;
		}
		@media (max-width: 992px) {
			flex: 1 1 auto;
			&:first-child {
				order: 2;
			}
			&:last-child {
				order: 1;
				margin-bottom: 20px;
			}
		}	
	}

	&__title {
		font-size: 20px;
		@include font600;
		margin-bottom: 30px;
	}

	&__body {
		padding-right: 45px;
		text-align: justify;
		@media (max-width: 992px) {
			padding-right: 0;
		}	
	}

	&__text {
		font-size: 15px;
		line-height: 27px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__image {
		img {
			max-width: 100%;
		}	
	}
}